<h1>Welcome <%= current_user.email %></h1>

<%= form_for(@text_medium, url: shouts_path) do |form| %>
  <%= form.text_field :body, placeholder: "Shout here!" %>
  <%= form.submit "Shout" %>
<% end %>

<%= render @shouts %>
