<h1>Welcome <%= current_user.email %></h1>

<%= form_for(:search, url: '#') do |form| %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%= form_for(@text_medium) do |form| %>
  <%= form.text_field :body, placeholder: "Shout here!" %>
  <%= form.submit "Shout" %>
<% end %>

<%= form_for(@photo_medium) do |form| %>
  <%= form.file_field :photo %>
  <%= form.submit "Shout" %>
<% end %>

<h2>Followed users</h2>
<ul>
  <% @followed_users.each do |followed_user| %>
    <li><%= link_to followed_user.email, followed_user %></li>
  <% end %>
</ul>

<%= render @shout_timeline %>
